<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <html>    
    <body>
    <p> <img src="Assets/images/me.jpg" align="right"> Este párrafo es un ejemplo de AgerNic.com </p>
    <h1> Método para escribir texto en HTML </h1>
    Para escribir el texto que se mostrará<br />
    en nuestro sitio web, simplemente<br />
    introdúzcalo en la etiqueta &lt;body&gt;,<br />
    como hemos vistoen los ejemplos anteriores. <br /><br />
    Para escribir el texto que se mostrará<br />
    en nuestro sitio web, simplemente<br />
    introdúzcalo en la etiqueta &lt;body&gt;,<br />
    como hemos vistoen los ejemplos anteriores. <br /><br />
    Para escribir el texto que se mostrará<br />
    en nuestro sitio web, simplemente<br />
    introdúzcalo en la etiqueta &lt;body&gt;,<br />
    como hemos vistoen los ejemplos anteriores. <br /><br />
    Para escribir el texto que se mostrará<br />
    en nuestro sitio web, simplemente<br />
    introdúzcalo en la etiqueta &lt;body&gt;,<br />
    como hemos visto en los ejemplos anteriores. <br /><br />
    Para escribir el texto que se mostrará<br />
    en nuestro sitio web, simplemente<br />
    introdúzcalo en la etiqueta &lt;body&gt;,<br />
    como hemos visto en los ejemplos anteriores. <br /><br />
    <p> Este párrafo es un ejemplo de AgerNic.com </p>
    cholh hola anteriores. <br /><br />
    <p> Aquí puede agregar la cantidad de líneas que desee </p> <br /><br />
        </body>
    </html>

<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %> 